 html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .appName{
        text-align: center;
        color: #fbc11b;
      }

    .row.content {height: 100%}
    
  
    .sidenav {
      
      background-color: #000;
      height: 100%
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

      .container-fluid {
        height: 100%;
        position: relative;
      }
      .wikiApi{
        color: white;
        width: 325px;
        text-align: center;
      }

      a{
        color: white;
        list-style: none;
        text-decoration: none;
      }
      li{
        color: white;
        font-size: 16px;
      }

      #map {
        bottom:0px;
        height: 100%;
        left: 362px;
        position: absolute;
        right: 0px;
      }

      #pano {
        width: 200px;
        height: 200px;
      }

       
